* {
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    
}

/* Index section */

#index {
    background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("../images/mosaico1.png");
    background-size: 6em 6em;
}

#index .container header {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#index .container header .container-header {
    max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#index .container header .container-header h1{
    text-align: center;
    color: rgb(153, 51, 204);
}

#index .container header .container-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

#index .container header .container-header nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 15px;
    font-weight: 400;
    transition: 0.2s;
}

#index .container header .container-header nav ul a:hover{
    color: rgb(0, 204, 0);
}

#index .container header .container-header .icon-social a{
    text-decoration: none;
    color: rgb(153, 51, 204);
    display: inline-block;
    margin-left: 10px;
    transition: 0.4s;
    font-size: 25px;
}

#index .container header .container-header .icon-social a:hover{
    color: rgb(0, 204, 0);
}

#index .container header .container-header .selected{
    color:rgb(0, 204, 0);
}

#index .container .presentation{
    max-width: 1024px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#index .container .presentation .welcome {
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 20px;
}

#index .container .presentation h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}

#index .container .presentation h2 span{
    color: rgb(153, 51, 204);
    text-decoration: underline;
}

#index .container .presentation .description {
    max-width: 512px;
    margin: 20px auto;
    font-size: 20px;
    text-align: center;
}

#index .container .presentation a{
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    padding: 15px;
    background-color: rgb(220, 220 ,220);
    border-radius: 1em;
    box-shadow: 0 0 15px rgb(153, 51, 204);
    font-weight: bold;
    color: rgb(153, 51, 204);
    transition: 0.4s;
}

#index .container .presentation a:hover{
    box-shadow: 0 0 20px rgb(0, 204, 0);
    color: rgb(0, 204, 0);
}

#icon-navi {
    color: rgb(153, 51, 204);
    display: none;
}

/* About section */

#about{
    max-width: 1024px;
    margin: auto;
    display: flex;
    padding: 100px 15px;
}

#about .container-picture{
    max-width: 512px;
    margin-right: 80px;
}

#about .container-picture img{
    padding: 20px;
    width: 100%;
    border-radius: 2em;
    background: linear-gradient(rgba(0,204,0,0.3), rgba(153,51,204,0.7));
}

#about .about{
    margin: 0 40px;
}

#about .about .section-tittle{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 20px;
    text-decoration: underline;
    text-decoration-color: rgba(0, 204, 0,0.5);
    text-decoration-thickness: 10px;
}

#about .about h2{
    color: rgb(153, 51, 204);
    font-size: 40px;
    margin: 20px 0;
}

#about .about h3{
    font-size: 20px;
    letter-spacing: 1px;
}

#about .about h4{
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
}

#about .about p{
    font-size: 15px;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 15px;
}

#about .about a{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: rgb(153, 51, 204);
    background-color: rgb(220, 220 ,220);
    margin: 20px;
    padding: 10px 20px;
    border-radius: 1em;
    transition: 0.4s;
    box-shadow: 0 0 10px rgb(153, 51, 204);
}

#about .about a:hover{
    box-shadow: 0 0 20px rgb(0, 204, 0);
    color: rgb(0, 204, 0);
}

/* Section portfolio */

#portfolio{
    background-color: rgba(0, 204, 0, 0.1);
}

#portfolio .container{
    max-width: 1024px;
    margin: auto;
}

#portfolio .container .section-tittle{
    text-align: center;
    font-size: 30px;
    letter-spacing: 20px;
    text-decoration: underline;
    text-decoration-color: rgba(0, 204, 0,0.5);
    text-decoration-thickness: 10px;
}

#portfolio .container .row{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#portfolio .container .row .proyect{
    max-width: 512px;
    border: 5px solid rgb(153, 51, 204);
    border-radius: 1em;
    margin: 0 10px;
    padding: 5px 10px;
    transition: 0.4s;
}

#portfolio .container .row .proyect .info{
    width: 100%;
    padding: 10px;
    transition: 0.4s;
}

#portfolio .container .row .proyect .info h4{
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

#portfolio .container .row .proyect .info p{
    text-align: justify;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

#portfolio .container .row .proyect iframe{
    filter: grayscale(1);
    transition: 0.4s;
}

#portfolio .container .row .proyect:hover {
    box-shadow: 0 0 10px rgb(0, 204, 0);
    border: 5px solid rgb(0, 204, 0);
}

#portfolio .container .row .proyect:hover iframe{
    filter: none;
}

#portfolio .container .row .proyect a{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: rgb(153, 51, 204);
    background-color: rgb(220, 220 ,220);
    margin: 5px;
    padding: 10px 20px;
    border-radius: 1em;
    transition: 0.4s;
    box-shadow: 0 0 10px rgb(153, 51, 204);
}

#portfolio .container .row .proyect a:hover{
    box-shadow: 0 0 20px rgb(0, 204, 0);
    color: rgb(0, 204, 0);
}

footer{
    background-color: rgb(153, 51, 204);
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 30px;
}

/* Responsive */

@media screen and (max-width: 800px){
    .icon-social{
        display: none;
    }

    nav{
        display: none;
    }

    nav.responsive{
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        padding: 10px 0;
    }

    nav.responsive ul{
        display: block;
        text-align: center;
    }

    nav.responsive ul li{
        margin: 5px 0;
    }

    #icon-navi{
        display: block;
        transition: 0.3s;
    }
    #icon-navi:hover{
        color:rgb(0, 204, 0);
        cursor: pointer;
    }

    #index .container .presentation h2{
        font-size: 40px;
    }

    #about{
        padding: 50px 0;
        display: block;
    }

    #about .container-picture{
        max-width: 200px;
        margin: auto;
    }

    #about .container-picture img{
        padding: 10px;
    }

    #about .about .section-tittle{
        text-align: center;
    }

    #about .about h2{
        font-size: 30px;
        text-align: center;
    }

    #portfolio{
        padding: 50px 0;
    }

    #portfolio .row{
        display: block;
    }

    #portfolio .row .proyect{
        margin: 10px auto;
    }

}